<HTML>

<HEAD>
<TITLE>[% title %]</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
</HEAD>

<BODY>

<h1>[% title %]</h1>

<h2>Roll</h2>
[% INCLUDE feeds.tt %]

[% FOREACH p IN data %]

	<h3 class="plEntryTitle">[% p.title %]</h3>
	<h4 class="plEntryAuthor">[% p.author %]</h4>
	
	<div class="plEntryBody">
		[% p.content %]
	</div>
	
[% END %]

</BODY>
</HTML>
